<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>BankApp</display-name>
   
    <context-param>
        <param-name>log4j-config</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>

    <context-param>
        <param-name>appName</param-name>
        <param-value>BankApp</param-value>
    </context-param>

    <listener>
        <listener-class>org.bankapp.web.utils.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>org.bankapp.web.controller.LogOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>org.bankapp.web.utils.RootServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/RootServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClerkCreationController</servlet-name>
        <servlet-class>org.bankapp.web.controller.ClerkCreationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClerkCreationController</servlet-name>
        <url-pattern>/createClerk</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AccountCreationController </servlet-name>
        <servlet-class>org.bankapp.web.controller.AccountCreationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountCreationController</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>IbUserForgotPasswordController</servlet-name>
        <servlet-class>org.bankapp.web.controller.IbUserForgotPasswordController</servlet-class> 
    </servlet>
    <servlet-mapping>
        <servlet-name>IbUserForgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern> 
    </servlet-mapping>
    <servlet>
        <servlet-name>IbUseLloginController</servlet-name>
        <servlet-class>org.bankapp.web.controller.IbUseLloginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IbUseLloginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminClerkLoginController</servlet-name>
        <servlet-class>org.bankapp.web.controller.AdminClerkLoginController</servlet-class> 
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminClerkLoginController</servlet-name>
        <url-pattern>/adcllogin</url-pattern> 
    </servlet-mapping>
    <servlet>
        <servlet-name>IbChangePasswordController</servlet-name>
        <servlet-class>org.bankapp.web.controller.IbChangePasswordController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>IbChangePasswordController</servlet-name>
        <url-pattern>/ibchangepassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WithdrawlController</servlet-name>
        <servlet-class>org.bankapp.web.controller.WithdrawlController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WithdrawlController</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepositFormController</servlet-name>
        <servlet-class>org.bankapp.web.controller.DepositFormController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DepositFormController</servlet-name>
        <url-pattern>/depositAmount</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>clerkLoginFormController</servlet-name>
        <servlet-class>org.bankapp.web.controller.clerkLoginFormController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clerkLoginFormController</servlet-name>
        <url-pattern>/clerkLogin</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ChequeController</servlet-name>
        <servlet-class>org.bankapp.web.controller.ChequeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChequeController</servlet-name>
        <url-pattern>/cheque</url-pattern>
        
    </servlet-mapping>
    <servlet> 
        <servlet-name>ListController</servlet-name>
        <servlet-class>org.bankapp.web.controller.ListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
