<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bankapp?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="org/bankapp/domain/Customer.hbm.xml"/>
    <mapping resource="org/bankapp/domain/Bankuser.hbm.xml"/>
    <mapping resource="org/bankapp/domain/Details.hbm.xml"/>
    <mapping resource="org/bankapp/domain/Balance.hbm.xml"/>
    <mapping resource="org/bankapp/domain/Address.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
